<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicacion2">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplicacion2">
        <activity
            android:name=".productosVivanda"
            android:exported="false" />
        <activity
            android:name=".productosSodimac"
            android:exported="false" />
        <activity
            android:name=".productosPlazaVea"
            android:exported="false" />
        <activity
            android:name=".productosMetro"
            android:exported="false" />
        <activity
            android:name=".infoVivanda"
            android:exported="false" />
        <activity
            android:name=".infoSodimac"
            android:exported="false" />
        <activity
            android:name=".infoPlazaVea"
            android:exported="false" />
        <activity
            android:name=".infoMetro"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrFy9KDMrxfFzzwXQ4aD8tJ1V_KXLuWvs" />

        <activity
            android:name=".wong"
            android:exported="false"
            android:label="@string/title_activity_wong" />
        <activity
            android:name=".sodimac"
            android:exported="false"
            android:label="@string/title_activity_sodimac" />
        <activity
            android:name=".plazavea"
            android:exported="false"
            android:label="@string/title_activity_plazavea" />
        <activity
            android:name=".Metro"
            android:exported="false"
            android:label="@string/title_activity_metro" />
        <activity
            android:name=".PDeVentas"
            android:exported="false" />
        <activity
            android:name=".MenuUsuario"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>